{{!-- {{test}}
{{item}}
abc
{{testt}} --}}
{{> search }}

 <p>{{foo}}</p>
test
<ul class="people_list">
  {{#each ing.ingredients}}
    <li>{{this.name}}</li>
  {{/each}}
</ul>
<ul class="people_list">
  {{#each item.items}}
    {{!-- <li>{{toJSON this}} </li> --}}
    <li>{{this}}</li>
  {{/each}}
</ul>

